[Unit]
Description=Scanner Valkey
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/valkey-server
Restart=always

[Install]
WantedBy=multi-user.target
